.mlg-no-scope {
	position: fixed;
	bottom: 0;
	right: 0;
}

.mlg-rekt-scrub {
  position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.filty-frank {
  position: absolute;
  bottom: -10px;
  right: 0;
}

body {
  font-family: 'Black Ops One', cursive;
}
