@import url('grid_12-825-55-15.css');

@font-face {
    font-family: 'arialic_hollowregular';
    src: url('../fonts/arialic_hollow-webfont.woff2') format('woff2'),
         url('../fonts/arialic_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #000;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif
}

.container-md {
	padding-left: 40px;
	padding-right: 40px;
	max-width: 1024px;
}

a {
	font-family: 'JetBrainsMono';
	text-decoration: none;
	color: #0083c5;
}

li {
	font-size: 0.75em;
}

.img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1em;
	padding-right: 1em;
} 

img {
	width: 100%
}

.profile_pic {
	width: 12em 
}

h1{
	font-size: 5em;
	font-weight: bold;
	font-style: normal;
	/* font-family: 'Arial'; */
	text-align: center;
	margin-bottom: 20px;
}

h2{
	font-size: 2em;
	font-weight: bold;
	font-style: normal;
	/* font-family: 'Arial', sans-serif; */
	text-align: center;
	color: #1883ba;
	margin-bottom: 20px;
}

h3{
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	/* font-family: 'Arial', sans-serif; */
	text-align: center;
	padding-left: 6em;
	padding-right: 6em;
}

h4{
	font-size: 1.6em;
	font-weight: bold;
	font-style: normal;
	/* font-family: 'Arial', sans-serif; */
	margin-bottom: 10px;
}

h5{
	font-size: 1.4em;
	font-weight: bold;
	font-style: normal;
	/* font-family: 'Arial', sans-serif; */
	margin-bottom: 10px;
}

h6{
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	/* font-family: 'Arial', sans-serif; */
	margin-bottom: 10px;
}

p {
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
	/* font-family: 'Arial'; */
}

.section{
	margin-bottom: 20px;
}
  
  span {
	border-bottom: .05em solid;
	animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
	50% {
	  border-color: transparent;
	}
  }

@media only screen and (max-width: 1400px) {
	h1 {
		font-size: 5em;
		/* word-spacing: 100vw; */
	}
	
	h2 {
		font-size: 2em;
	}

	img {
		width: 100%
	}
}

@media only screen and (max-width: 768px) {

	h1 {
		font-size: 4em;
		word-spacing: 100vw;
	}
	
	h2 {
		font-size: 1.5em;
	}

	img {
		width: 100%
	}
}

@media only screen and (max-width: 480px) {

	h1 {
		font-size: 3em;
		word-spacing: 100vw;
	}
	
	h2 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.5em;
	}
	p {
		font-size: 1em;
	}
	li {
		font-size: 1em;
	}

	img {
		width: 100%
	}
}