@import url('grid_12-825-55-15.css');

@font-face {
  font-family: 'JetBrains Mono';
  src: url(../fonts/FiraCode-VF.ttf);
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-BoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-Mediu.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-MediumItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-Mediu.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-MediumItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-Light.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-LightItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-LightItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-ThinItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-Thin.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-XThinItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-XThin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-XXThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasDisplay-XXThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


body {
  color: #0C0C0C;
  background-color: #FAFAFA;
  font-family: "NeueHaas";
  font-weight: normal;
}


.container-md {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1024px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}

img {
  width: 100%;
}

.profile-pic {
  width: 12em;
}

.title-box {
  background-color: #0C0C0C;
  color: #fafafa;
  margin-bottom: 2em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.title-name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 2em;
}

.title-name {
  /* position: absolute; */
  /* background-color: #0083c5; */
  font-size: 5em;
  margin-bottom: 0;
  text-align: center;
}

@keyframes title-mask {
  from {
    background-position: 50% 50%, 50% 50%;
  }

  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.title-mask {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  --stripes: repeating-linear-gradient(100deg,
      #fff 0%,
      #fff 7%,
      transparent 10%,
      transparent 12%,
      #fff 16%);
  --stripesDark: repeating-linear-gradient(100deg,
      #000 0%,
      #000 7%,
      transparent 10%,
      transparent 12%,
      #000 16%);
  --rainbow: repeating-linear-gradient(100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%);

  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  pointer-events: none;

  background-image: var(--stripesDark), var(--rainbow);
  filter: blur(10px) opacity(50%) saturate(200%);
}

.title-mask::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripesDark), var(--rainbow);
  background-size: 200%, 100%;
  animation: title-mask 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.section {
  margin-bottom: 24px;
}

.section-item {
  margin-bottom: 24px;
}

.row {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

span.avoidwrap {
  display: inline-block;
}

h1 {
  font-size: 4em;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 0.4em;
}

h2 {
  /* font-size: 2em; */
  font-weight: 900;
  font-style: normal;
  margin-bottom: 0.4em;
}

h3 {
  /* font-size: 1.8em; */
  font-weight: 800;
  font-style: normal;
  margin-bottom: 0.4em;
}

h4 {
  /* font-size: 1.8em; */
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.4em;
}

h5 {
  /* font-size: 1.6em; */
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.4em;
}

h6 {
  /* font-size: 1.2em; */
  width: auto !important;
  margin-bottom: 0.2em;
}

.heading-underline {
  border: solid;
  border-width: 0 0 2px 0;
}

.subheading-underline {
  margin-bottom: 4px;
  border: dotted;
  border-width: 0 0 1px 0;
}

p {
  /* font-size: 1em; */
  font-style: normal;
}

a {
  text-decoration: none;
  color: #0083c5;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /* font-size: 1em; */
  font-weight: 500;
}

li b:before {
  content: '> ';
}

.text-stay-right {
  text-align: right;
  display: inline-block;
}

.space-between-line {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.full-width-list-item {
  display: flex;
  justify-content: space-between;
}

.block-par {
  text-align: justify;
}

.block-list-item {
  text-align: justify;
  margin-bottom: 0.4em;
}

code {
  font-size: 1.2em;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'JetBrains Mono';
  color: rgb(166, 166, 166);

  .normal {
    color: white;
  }

  .function {
    color: #60a5fa;
  }

  .string {
    color: #e11dff;
  }

  .print {
    color: #1be195;
  }
}

.caret {
  font-family: monospace;
  padding-right: 1px;
  padding-left: -1px;
  box-shadow: inset 0 0 0, inset 0 -0.1em 0, inset 0 0 0, inset 0 0 0;
  animation: caret 0.5s steps(5, start) infinite;
  -webkit-animation: caret 0.5s steps(5, start) infinite;
}

@keyframes caret {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes caret {
  to {
    visibility: hidden;
  }
}

.code-window-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-window-body {
  width: 480px;
  background-color: rgb(46, 46, 46, 0.7);
  border: solid rgb(59, 59, 59);
  border-width: 1px;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 2px 4px 10px #252525; */
}

.code-window-top-bar {
  background-color: rgb(24, 24, 24, 0.7);
  border-bottom: solid rgb(59, 59, 59);
  border-width: 1px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.code-window-traffic-light {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: rgb(97, 97, 97, 0.7);
}

.code-window-traffic-light-red:hover {
  background-color: red;
}

.code-window-traffic-light-yellow:hover {
  background-color: yellow;
}

.code-window-traffic-light-green:hover {
  background-color: rgb(58, 233, 58);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0c0c0c;
    color: #fafafa;
  }

  .title-box {
    background-color: #fafafa;
    color: #0c0c0c;
  }

  .title-mask {
    background-image: var(--stripes), var(--rainbow);
    filter: blur(10px) invert(100%);
  }

  .title-mask::after {
    background-image: var(--stripes), var(--rainbow);
  }

  code {
    color: rgb(93, 93, 93);

    .normal {
      color: rgb(0, 0, 0);
    }

    .function {
      color: #60a5fa;
    }

    .string {
      color: #e879f9;
    }

    .print {
      color: #2ab8a2;
    }
  }

  .code-window-body {
    background-color: rgb(253, 253, 253, 0.7);
    border: solid rgb(214, 214, 214);
    border-width: 1px;
  }

  .code-window-top-bar {
    background-color: rgb(236, 236, 236, 0.7);
    border-bottom: solid rgb(214, 214, 214);
    border-width: 1px;
  }

  .code-window-traffic-light {
    background-color: rgb(212, 212, 212, 0.7);
  }
}

@media only screen and (max-width: 1400px) {
  .title-name {
    font-size: 4em;
  }
}

@media only screen and (max-width: 768px) {
  .title-box {
    height: 100vh;
  }

  .code-window-wrapper {
    display: none;
  }

  .title-name {
    font-size: 3em;
    word-spacing: 100vw;
  }
}

@media only screen and (max-width: 480px) {

  .title-box {
    height: 100vh;
  }

  .code-window-wrapper {
    display: none;
  }

  .title-name {
    font-size: 3em;
    word-spacing: 100vw;
  }
}